.page-header.group
  .header-search.right
    %span.search-input.group
      %input{ :type => 'text', :placeholder => 'Search a Canned Response' }
      %button{ :type => 'submit' }
  %h3 Chat Settings
  .module-header._c8
    .ui-button-group
      %button.btn Notifications
      %button.btn Triggers
      %button.btn Responses
      %button.btn Timeout
      %button.btn.active Chat limits

.page-body._tL
  Set maximum concurrent chat limit that can be performed by an agent.
  .block
    .block.tr.group.settings-section
      .label
        Concurrent Chat Limit
      .input-container
        %input{ :type => 'text', :value => '1', :style => 'width: 50px' }

    .block.group.settings-section
      .label
      %button.btn.small.action
        Save changes