.page-header.group
  .header-search.right
    %span.search-input.group
      %input{ :type => 'text', :placeholder => 'Search a conversation' }
      %button{ :type => 'submit' }
  %h3 Chat History

.page-selector
  .dropdown-tab-panel.group
    .dropdown-tab.websites 
      %i.icon.icon-globe 
      All websites 
      %span.caret{ :style => 'float: right; margin-top: 9px;' }

      %ul.dropdown-menu.websites{ :style => 'display: none' }
        %li
          %a{ :href => '#' }
            Buzzednow.com
            %span.small http://www.buzzednow.com
        %li
          %a{ :href => '#' }
            Buyrealmarketing
            %span.small http://www.buyrealmarketing.com
        %li
          %a{ :href => '#' }
            Cebu Pacific Air Promos
            %span.small http://www.cebupacificair-promos.com

    .dropdown-tab-panel.date-selector.right
      .dropdown-tab.first
        Today
      .dropdown-tab
        This week
      .dropdown-tab
        This month
      .dropdown-tab#customDateTrigger
        Custom date
        .custom-date-range-wrapper
          .caret.cT1
          .custom-date-input-wrapper
            %button.btn.action.small
              Go
            %input#dateRange{ :placeholder => 'Select a date' }


.table-wrapper.scrollable
  .table-section
    .table-head-label.table-head-collapsible
      %button.btn.rounded
        %span.minimize
      January 1 to January 31, 2012
    .table-row-wrapper
      .table-row.table-head.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            Visitor
        .td-container.visitor-cell
          .td-content
            Agent
        .td-container.message-cell
          .td-content
            Message
        .td-container.time-cell
          .td-content
            Date
        .td-container.location-cell
          .td-content
            Location
       
      .block.nodata
        There is not enough data


      .table-row.table-body.group#chatHistoryCell
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-fdsf932
        .td-container.visitor-cell
          .td-content
            Jonathan
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 1
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
       
      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-322954
        .td-container.visitor-cell
          .td-content
            Jonathan
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 2
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            Nueva Ecija, Philippines
      


  .table-section
    .table-head-label.table-head-collapsible
      %button.btn.rounded
        %span.minimize
      Yesterday
    .table-row-wrapper
      .table-row.table-head.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            Visitor
        .td-container.message-cell
          .td-content
            Message
        .td-container.time-cell
          .td-content
            Date
        .td-container.location-cell
          .td-content
            Location
        .td-container.system-info-cell
          .td-content
            Browser / System



      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            Harvey
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 9
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            Harvey
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 12
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            Keenan
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 15
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-4fdf321
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 15
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-4fdf321
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 18
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-4fdf321
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 19
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

      .table-row.table-body.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.visitor-cell
          .td-content
            visitor-4fdf321
        .td-container.message-cell
          .td-content
            %span.msg-count-tag 3
            Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
        .td-container.time-cell
          .td-content
            Jan 21
        .td-container.location-cell
          .td-content
            %i.icon.map-pin
            The United Kingdom Of Great Britain And Northern Ireland
        .td-container.system-info-cell
          .td-content
            .xT{ :title => 'Mozilla Firefox 4.0' }
              %i.icon.browser-ie
            .xT{ :title => 'Windows 7' }
              %i.icon.system-linux

.table-footer
  %button.btn.small
    Delete Selected
  %button.btn.small.action
    Clear History

 
    

    


          

