.page-header.group
  .user-billing-status
    Current plan: 
    %span.current-plan.startup
      Startup

  %h3 Welcome Jonathan
  %p
    Engage your website visitors instantly with our Live Chat tool!
  
.message-notice
  %i.icon.icon-warning
  Installing your chat widget is quick and easy! 
  =link_to "Click here ","#"
  to get the JavaScript code to install on your website.
.page-body.group{ :style => 'padding: 0' } 
  ._pB_1.scrollable
    .pB_1a
      .welcome-message
        %button.close-dark
        %h1
          The new offerchat dashboard beta
        %p
          For months, we've been listening to your feedback to pinpoint what you want and need. The result is the new dashboard you're currently in. We've upgraded the look and feel of the Offerchat dashboard to provide you with a more intuitive, easier to use tool, and a better experience overall.

        %p
          Take a short tour through the Offerchat dashboard,
          %a.btn.small
            Take the tour
      
      .block.group{ :style => 'border-bottom: 1px solid #e1e1e1; height: 340px' }
        .half
          %button.close-dark{ :style => 'top: 5px' }
          %p 
            Configuration completeness: 
            %strong 25%
          .progress-bar
            .progress{ :style => 'width: 25%' }
          
          .block.tr0.group
            %ul.link-list
              %li._hl
                1. Install widget
                %i.icon.icon-check
              %li._hl
                2. Customize your widget
                %i.icon.icon-check
              %li 
                3.
                =link_to 'Setup pre chat form','#'
              %li 
                4.
                =link_to 'Set widget display name','#'
              %li 
                5.
                =link_to 'Add profile picture','#'
              %li 
                6.
                =link_to 'Create a saved response','#'
            
            .block.tr0.group
              %p
                Help spread the word
              %a.social-btn.facebook
                %i.icon.icon-facebook
                Share on Facebook
              %a.social-btn.twitter
                %i.icon.icon-twitter
                Follow us on Twitter
        .half._k4
          %p 
            %button.btn.small.right{ :style => 'margin-top: 3px' }
              Add website
            %h3.bordered Website Profiles
          .block.tr0group
            %ul.site-home-list
              %li
                Buy Real Marketing
              %li
                Cebu Jobs
              %li
                Orthofill
      .graph-static-container
        .graph-static-headline
          COMING SOON
        %p
          Measure the effectiveness of your live chat service by viewing data gathered from live chat activities
      #graph
      %pre#code.prettyprint.linenums
        :preserve    
          var day_data = [
            {"period": "2012-10-01", "views": 1407, "active": 660, "missed": 2, "proactive": 52},
            {"period": "2012-09-30", "views": 1551, "active": 629, "missed": 51, "proactive": 32},
            {"period": "2012-09-29", "views": 1894, "active": 849, "missed": 34, "proactive": 52},
            {"period": "2012-09-28", "views": 1294, "active": 690, "missed": 10, "proactive": 12},
            {"period": "2012-09-27", "views": 1464, "active": 600, "missed": 4, "proactive": 20},
            {"period": "2012-09-26", "views": 1544, "active": 100, "missed": 10, "proactive": 34},
            {"period": "2012-09-25", "views": 1574, "active": 530, "missed": 56, "proactive": 52},
            {"period": "2012-09-24", "views": 1294, "active": 702, "missed": 23, "proactive": 23},
            {"period": "2012-09-23", "views": 1694, "active": 690, "missed": 5, "proactive": 9},
            {"period": "2012-09-22", "views": 1394, "active": 618, "missed": 1, "proactive": 43},
            {"period": "2012-09-21", "views": 1294, "active": 700, "missed": 9, "proactive": 89},
            {"period": "2012-09-20", "views": 2103, "active": 560, "missed": 22, "proactive": 53},
            {"period": "2012-09-19", "views": 1502, "active": 634, "missed": 19, "proactive": 42},
            {"period": "2012-09-18", "views": 2015, "active": 590, "missed": 12, "proactive": 85},
            {"period": "2012-09-17", "views": 1724, "active": 660, "missed": 9, "proactive": 37},
            {"period": "2012-09-16", "views": 1403, "active": 753, "missed": 30, "proactive": 28},
            {"period": "2012-09-15", "views": 1615, "active": 300, "missed": 20, "proactive": 47},
            {"period": "2012-09-14", "views": 1609, "active": 589, "missed": 12, "proactive": 26},
            {"period": "2012-09-13", "views": 2099, "active": 600, "missed": 0, "proactive": 47},
            {"period": "2012-09-12", "views": 1463, "active": 712, "missed": 5, "proactive": 27},
            {"period": "2012-09-11", "views": 1560, "active": 656, "missed": 10, "proactive": 5},
            {"period": "2012-09-10", "views": 100, "active": 70, "missed": 30, "proactive": 0 }
          ];
          Morris.Line({
            element: 'graph',
            data: day_data,
            lineWidth: 3,
            lineColors: ['#3cb2e9', '#eeb445', '#e56666', '#8acb70'],
            xkey: 'period',
            ykeys: ['views', 'active','missed','proactive'],
            labels: ['Page Views', 'Active Chats','Missed Chats','Proactive Chats'],
          });

  .page-sidebar._s0.scrollable
    .block.tr.group
      %h3 Getting Started
      %ul.link-list
        %li
          =link_to 'How to install your chad widget. Quick and Easy!','#'
        %li
          =link_to 'How to get the most out of our live chat service.','#'
        %li
          =link_to 'How to configure our live chat widget to match your website','#'
    .block.tr.group
      %h3 Latest Blog Posts
      %ul.link-list
        %li
          =link_to 'Is Your E-Commerce Site Conducive For Impulse Buying?','#'
        %li
          =link_to 'Disdavantages of Live Chat: 3 Ways to Kill Customer Interest and Make Them Run for the Exit','#'
        %li
          =link_to 'Why is Offerchat Live Chat App Free?','#'
        %li
          =link_to 'Online Chat: How to Start Interacting With Your Visitors Using the Offerchat ','#'
        %li
          =link_to  'Why Online Retail Businesses Are Booming After Adding Live Chat','#'
        %li
          =link_to  'How a Fast Live Chat Tool Can Improve Website Experience and Sales','#'

    .block.tr.group
      %h3 Latest Blog Posts
      %ul.link-list
        %li
          =link_to 'Is Your E-Commerce Site Conducive For Impulse Buying?','#'
        %li
          =link_to 'Disdavantages of Live Chat: 3 Ways to Kill Customer Interest and Make Them Run for the Exit','#'
        %li
          =link_to 'Why is Offerchat Live Chat App Free?','#'
        %li
          =link_to 'Online Chat: How to Start Interacting With Your Visitors Using the Offerchat ','#'
        %li
          =link_to  'Why Online Retail Businesses Are Booming After Adding Live Chat','#'
        %li
          =link_to  'How a Fast Live Chat Tool Can Improve Website Experience and Sales','#'
        