.page-header.group
  %h3 Welcome Jonathan
  %p
    Engage your website visitors instantly with our live chat tool

.page-body._tL
  Enabling notifications will let Groove notify you, either via pop-up, sound, or both, when a new chat
  message comes in. This means that you’ll never miss a chat, even if your Groove tab is inactive. 

  .block.tr.group
    .label 
      Play sound for messages
    .ui-button-group.right
      %button.btn.active Enabled
      %button.btn Disabled