.page-header.group
  %h3 Personal Preferences
  .module-header._c8
    .ui-button-group
      %button.btn Profile
      %button.btn Account
      %button.btn.active IM Settings

.scrollable
  .page-body
   
    %div.group._f0
      %h3
        Instant messaging
      %p
        Use our IM integration feature to serve incoming chats using the IM network if your choice.       
      %a.group#gtalkLink
        %h3.bordered-1
          GTalk 
          %i.icon.right.icon-arrow-down
      .block.tr0.group.settings-section#gtalkSection{ :style => 'display: none' }
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique congue orci, vitae lobortis magna sodales sit amet. Donec suscipit ornare risus sed blandit
        .block.tr0
          %a.btn.small
            Login to your Google account
      %a.group#adiumLink
        %h3.bordered-1
          Adium
          %i.icon.right.icon-arrow-down
      .block.tr0.group.settings-section#adiumSection{ :style => 'display: none' }
        %ul.in-list
          %li
            %p 
              1. Open Adium on your computer.
          %li
            %p
              2. Click File > Add Account > XMPP
            %p
              =image_tag('adium_step1.png')
          %li
            %p
              3. Enter the necessary account credentials in the format shown below.
            %p
              =image_tag('adium_step2.png')
            %p
              Your Jabber ID is Offerchat registered email address without the ampersand (@) and dot (.) characters plus the Offerchat XMPP domain which is realtime.offerchat.com. Then type the password you're using for your Offerchat account.
              As an example, let's say my registered Offerchat email address is myemail@me.com, the Jabber ID I should enter is myemailmecom@realtime.offerchat.com
          %li
            %p
              4. Click OK after entering the Jabber ID and password.
            %p
              You can now chat with your customers from the Adium IM client on your computer. This is how it looks like in action:
            %p
              =image_tag('adium_step3.jpg')
 

      %a.group#pidginLink
        %h3.bordered-1
          Pidgin
          %i.icon.right.icon-arrow-down
      .block.tr0.group.settings-section#pidginSection{ :style => 'display: none' }

        %ul.in-list
          %li
            %p
              1. Open Pidgin on your computer.
          %li
            %p
              2. Click Accounts or press Ctrl+A on your keyboard. A new dialog box will appear. 
            %p
              =image_tag('step1.png')
          %li
            %p
              3. Click the Add button to start integrating your Offerchat account.
            %p
              =image_tag('step2.jpg')
          %li
            %p
              4. Set the right Protocol by clicking the dropdown menu and selecting XMPP.
            %p
              =image_tag('step3.png')
          %li
            %p
              5. Fill out your username, domain and password. The username should be the email address you’ve registered for Offerchat without the (@) and ( . ) characters, thus, just the letters. Tick Use this buddy icon for my account to set a profile picture to appear on the live chat widget on your site. A screen will appear to let you choose a picture from your image files. 
            %p
              =image_tag('step5.jpg')
          %li
            %p
              6. Click the Advanced button and set Connection security to “Use encryption if available” from the list of dropdown options.
            %p
              =image_tag('step7.jpg')
          %li
            %p
              7. Finally, click the Add button.    
      

    
    
    .page-sidebar       
      .block
        
      




      
    