.page-header.group
  %h3 Personal Preferences
  .module-header._c8
    .ui-button-group
      %button.btn Profile
      %button.btn Account
      %button.btn.active IM Settings

.scrollable
  .page-body
   
    %div.group._f0
      %h3
        Instant messaging
      %p
        Use our IM integration feature to serve incoming chats using the IM network if your choice.       
      %a.group
        %h3.bordered-1
          GTalk 
          %i.icon.right.icon-arrow-down
      .block.tr0.group.settings-section{ :style => 'display: block' }
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique congue orci, vitae lobortis magna sodales sit amet. Donec suscipit ornare risus sed blandit
        .block.tr0
          %a.btn.small
            Login to your Google account
      %a.group
        %h3.bordered-1
          Adium
          %i.icon.right.icon-arrow-down
      .block.tr0.group.settings-section{ :style => 'display: none' }
        %ul
          %li
            %p 
              1. Log in to your IM account and add this chat bot to your buddy list.
          %li
            %p
              1. Log in to your IM account and add this chat bot to your buddy list.
          %li
            %p
              1. Log in to your IM account and add this chat bot to your buddy list.
          %li
            %p
              1. Log in to your IM account and add this chat bot to your buddy list.
        

    
      

    
    
    .page-sidebar       
      .block
        
      




      
    