.chat-view
  .chat-view-inner
    .chat-header
      .chat-timer
        
      .visitor-info-wrapper
        %span.visitor-username y43fddp
        %span.visitor-location Cebu, Philippines
        .visitor-current-status 
          viewing
          = link_to 'http://www.example.com/auth/facebook?origin=/items/1', '#' 
    .chat-body
      .chat-content-area
        %ul.chat-list.scrollable
          %li.chat-group.ls
            .chat-status-inner
              %p Visitor-y43fddp has entered the chat
          %li.chat-group.group
            %div
              %strong 
                %span._uB Visitor-y43fddp
            .chat-message-1
              %p Hello?
              %p fdsfsdfds
              %p How will this work?
          %li.chat-group.group
            .chat-options.ui-button-group.hide
              %button.btn
                Save Response
            %div
              %strong 
                %span._uB Jonathan (You)
            .chat-message-1
              %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
          %li.chat-group.group
            %div
              %strong 
                %span._uB Visitor-y43fddp
            .chat-message-1
              %p Hello?
              %p fdsfsdfds
              %p How will this work?
          %li.chat-group.group
            .chat-options.ui-button-group.hide
              %button.btn
                Save Response
            %div
              %strong 
                %span._uB Jonathan (You)
            .chat-message-1
              %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
              %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
          %li.chat-group.ls
            .chat-status-inner.red
              %p Visitor-y43fddp has left the conversation

    .chat-response-wrapper
      .chat-area
        %input{ :type => 'text', :placeholder => 'Enter your message' }
          %button.send-msg-btn{ :type => 'submit' }
.chat-sidebar-wrapper
  .chat-sidebar
    .module-header
      .ui-button-group.right
        %button.btn
          Add response
      %h3 Saved Responses
    .module-body.chat-responses     
      .search-wrapper
        %span.search-input.group
          %input{ :type => 'text' }
          %button{ :type => 'submit' }
            
      .chat-responses-container.scrollable.sL
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et


