.chat-view
  .chat-view-inner
    .chat-header
      .visitor-info-wrapper
        %span.visitor-username y43fddp
        %span.visitor-location Cebu, Philippines
        .visitor-current-status 
          viewing
          = link_to 'http://www.example.com/auth/facebook?origin=/items/1', '#' 
    .chat-body
      .chat-content-area
        %ul.chat-list
          %li.chat-group
            %div
              %strong Visitor-y43fddp
    .chat-response-wrapper
      sdfdsfds
.chat-sidebar-wrapper
  .chat-sidebar
    this is a sidebar