.chat-view
  .chat-view-inner
    .chat-header
      .visitor-info-wrapper
        %span.visitor-username y43fddp
        %span.visitor-location Cebu, Philippines
        .visitor-current-status 
          viewing
          = link_to 'http://www.example.com/auth/facebook?origin=/items/1', '#' 
    .chat-body
      .chat-content-area
        %ul.chat-list
          %li.chat-group.ls
            .chat-status-inner
              %p Visitor-y43fddp has entered the chat
          %li.chat-group.group
            %div
              %strong 
                %span._uB Visitor-y43fddp
            .chat-message-1
              %p Hello?
              %p fdsfsdfds
              %p How will this work?
          %li.chat-group.group
            %ul.chat-options.ui-button-group
              %li 
                =link_to 'Save response','#'
              %li 
                =link_to 'Edit','#'
            %div
              %strong 
                %span._uB Jonathan (You)
            .chat-message-1
              %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
              
          %li.chat-group.ls
            .chat-status-inner.red
              %p Visitor-y43fddp has left the conversation

    .chat-response-wrapper
      sdfdsfds
.chat-sidebar-wrapper
  .chat-sidebar
    this is a sidebarhfghfghfghfg