.chat-view
  .chat-view-inner
    .no-chats-page
      %h1
        No chat selected
      %p
        Click on a visitor to start engaging on a chat
.chat-sidebar-wrapper
  .chat-sidebar
    .module-header{ :style => 'height: 17px' }
      .ui-button-group.right
        %button.btn.small#addResponseBtn
          Add response
      %h3 Saved Responses
    .module-body.chat-responses     
      .search-wrapper{ :style => 'height: 30px' }
        %span.search-input.group
          %input{ :type => 'text' }
          %button{ :type => 'submit' }
            
      .chat-responses-container.scrollable.sL
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong hello
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus sodales augue, ut mattis nibh aliquet nec...
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et
        %a.response-trigger
          %strong anything else
          %span Duis tempor fermentum justo, eget ornare quam congue a. Curabitur malesuada dui et


