.page-header.group
  %h3 Personal Preferences
  .module-header._c8
    .ui-button-group
      %button.btn.active Profile
      %button.btn Account
.scrollable
  .page-body
   
    %div
      .group._f0
        %h3 Profile
        .block.tr.group.settings-section
          .label
            Profile Photo
          .input-container
            %button.close{:style => 'background-color: #b94a48; right:5px;', :title => 'Remove profile photo'}
            .profile-photo{:style => 'background-image: url(/assets/person1.jpg);'}
            %input.btn.small{ :type => 'submit', :value => 'Change Profile Photo' ,:style => 'text-transform: uppercase; font-size: 9px; font-weight:bold;'}
            //%input{ :type => 'file', :style => 'width: 250px; padding: 0' }

        .block.tr.group.settings-section
          .label
            First Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Last Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Display Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.group.settings-section
          .label
            &nbsp;
          .input-container
            %input.btn.small.action{ :type => 'submit', :value => 'Save Changes'}
            
        .block
          .block.tr.group.settings-section
            %h3 Sound Notifications
            %p Enable notifications if you want Offerchat to alert you through pop-up, sound, or both, when a new chat message comes in. By enabling notifications, you'll never miss a chat, even when your Offerchat tab is inactive.
            .label Play sound for messages
            .ui-button-group.right
              %button.btn.active Enabled
              %button.btn Disabled

        

                

                   








      
    