.page-header.group
  %h3 Personal Preferences
  .module-header._c8
    .ui-button-group
      %button.btn.active Profile
      %button.btn Account
.scrollable
  .page-body
   
    %div
      .group._f0
        %h3 Profile
        .block.tr.group.settings-section
          .label
            Profile Photo
          .input-container
            .profile-photo{:style => 'background-image: url(/assets/person1.jpg);'}   
              #floatingCirclesG{ :style => 'top: 50px; left: 50px' }
                #frotateG_01.f_circleG
                #frotateG_02.f_circleG
                #frotateG_03.f_circleG
                #frotateG_04.f_circleG
                #frotateG_05.f_circleG
                #frotateG_06.f_circleG
                #frotateG_07.f_circleG
                #frotateG_08.f_circleG         
            .dropdown-group
              %button.btn.small
                Change photo 
                %span.caret
              %ul.dropdown-menu.wS{ :style => 'display: block' } 
                %li.upload-photo
                  Upload photo
                  .image-selector
                    %input.file-input{ :type => 'file', :tabindex => '-1' }
                %li
                  %a{ :href => '#' }
                    Remove photo

        .block.tr.group.settings-section
          .label
            First Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Last Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Display Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.group.settings-section
          .label
            &nbsp;
          .input-container
            %input.btn.small.action{ :type => 'submit', :value => 'Save Changes'}
            
        .block
          .block.tr.group.settings-section
            %h3 Sound Notifications
            %p Enable notifications if you want Offerchat to alert you through pop-up, sound, or both, when a new chat message comes in. By enabling notifications, you'll never miss a chat, even when your Offerchat tab is inactive.
            .label Play sound for messages
            .ui-button-group.right
              %button.btn.active Enabled
              %button.btn Disabled

        

                

                   








      
    