.page-header.group
  %h3 
    Reports
    .module-header._c8
      .ui-button-group
        %button.btn Visitor Metrics
        %button.btn.active Agent Performance

.scrollable
  .page-body.group
    %h1
      Unlock these features by upgrading your account.
      %a.thin{ :style => 'text-decoration: underline' }
        Updgrade now
    %p
      Ensure your business delivers superior quality sales and customer support that guarantees 101% customer satisfaction by keeping tabs of your live chat agents' performance.
     
    .block.group
      .image-container-inline
        .image
          =image_tag 'agent_chart_screen-1.png'
        .image-description
          %h3
            Agent Rating
          %p
            How's your live chat agent doing? Get it straight from customers themselves through the results of the post chat survey. See how your customers rate their live chat experience with a particular agent and see who's the most effective.

    .block.group
      .image-container-inline.right
        .image
          =image_tag 'agent_chart_screen-2.png'
        .image-description{ :style => 'width: 48%; margin-top: 10%' } 
          %h3
            Analytics
          %p
            Get live chat analytics and track the performance of your live chat customer support over a period of time. Data is presented in a nice, visual graph to help you view the big picture, recognize patterns and gather valuable insights. 
    .block.group
      .image-container-inline
        .image
          =image_tag 'agent_chart_screen-3.png'
        .image-description{ :style => 'margin-top: 6%' }
          %h3
            Live Chat Statistics
          %p
            Statistics are hard facts; they don't lie. Gather live chat agent statistics by activating this feature. Get a larger idea of the real potential of your live chat customer support and how they can be successfully met.
    .block.group
      .image-container-inline.right
        .image
          =image_tag 'agent_chart_screen-4.png'
        .image-description
          %h3
            Agent Score
          %p
            Obtain an overall score of a live chat agent to gauge his or her performance. The agent score is calculated based on existing metrics and data that are highly indicative of an agent's performance on the job.
