.page-header.group
  %h3 
    Reports
    .module-header._c8
      .ui-button-group
        %button.btn Websites
        %button.btn.active Agents


.page-body
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor dolor, condimentum at vulputate vitae, eleifend nec dolor. Aenean vitae enim est.
  .dropdown-group
    %button.btn.websites
      %i.icon.icon-globe 
      All websites 
      %span.caret{ :style => 'float: right; margin-top: 7px;' }
    %ul.dropdown-menu.websites{ :style => 'display: none' }
      %li
        %a{ :href => '#' }
          Buzzednow.com
          %span.small http://www.buzzednow.com
      %li
        %a{ :href => '#' }
          Buyrealmarketing
          %span.small http://www.buyrealmarketing.com
      %li
        %a{ :href => '#' }
          Cebu Pacific Air Promos
          %span.small http://www.cebupacificair-promos.com
  .date-selector._lT
    %ul
      %li
        %a
          Today
      %li
        %a
          This week
      %li
        %a
          This month
      %li
        %a.active#customDateTrigger
          Custom date
        .custom-date-range-wrapper
          .caret.cT1
          .custom-date-input-wrapper
            %button.btn.action.small
              Go
            %input#dateRange{ :placeholder => 'Select a date' }

%div{ :style => 'margin-top: 30px' }
  

  .table-wrapper
    .table-row-wrapper.table-row-selectable

      / No chat triggers are added yet
      .table-row.table-head.group
        
        .td-container.status-cell
          .td-content
            &nbsp;
        
        .td-container.large-cell
          .td-content
            Agent
        
        .td-container.h_43-cell
          .td-content
            Incoming
        .td-container.h_43-cell
          .td-content
            Proactive
        .td-container.h_43-cell
          .td-content
            Missed
        .td-container.h_44-cell
          .td-content
            Ave. time to respond  
        .td-container.h_43-cell
          .td-content
            Rating  
      %div.scrollable
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
          .td-container.h_43-cell
            .td-content
              86%

        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs

        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs
        %a.table-row.table-body.group
          .td-container.status-cell
            .td-content              
         
          .td-container.large-cell
            .td-content
              %span
                Reina Figuracion
          .td-container.h_43-cell
            .td-content
              435
                
          .td-container.h_43-cell
            .td-content
              435
             
          .td-container.h_43-cell
            .td-content
              435
          .td-container.h_44-cell
            .td-content
              45 secs

     

            

  
