.page-header.group
  %h3 
    Reports
    .module-header._c8
      .ui-button-group
        %button.btn Visitor Metrics
        %button.btn.active Agent Performance
  
.page-body.group{ :style => 'padding: 0' }
  .page-selector
    .dropdown-tab-panel.group
      .dropdown-tab.websites 
        %i.icon.icon-globe 
        All websites 
        %span.caret{ :style => 'float: right; margin-top: 9px;' }

        %ul.dropdown-menu.websites{ :style => 'display: none' }
          %li
            %a{ :href => '#' }
              Buzzednow.com
              %span.small http://www.buzzednow.com
          %li
            %a{ :href => '#' }
              Buyrealmarketing
              %span.small http://www.buyrealmarketing.com
          %li
            %a{ :href => '#' }
              Cebu Pacific Air Promos
              %span.small http://www.cebupacificair-promos.com

      .dropdown-tab-panel.date-selector.right
        .dropdown-tab.first
          Today
        .dropdown-tab
          This week
        .dropdown-tab
          This month
        .dropdown-tab#customDateTrigger
          Custom date
          .custom-date-range-wrapper
            .caret.cT1
            .custom-date-input-wrapper
              %button.btn.action.small
                Go
              %input#dateRange{ :placeholder => 'Select a date' }
  .scrollable
    .pB_1a.pB-section-fixed
      %div{ :style => 'display: block; margin-bottom: 5px' }
        
      .dropdown-group
        %button.btn.agents
          .caret
          .ui-agent-dropdown-selected
            .ui-agent-thumbnail
              =image_tag 'thumb70.png'
            .ui-agent-details
              %h3
                Jonathan Kennedy

              %ul.agent-rating-list
                %li.rating-percentage
                  89%
                %li
                  %i.icon.icon-thumbs-up.vT
                  142
                %li
                  %i.icon.icon-thumbs-down.vT
                  10
              .rating-bar
                .rating-progress{ :style => 'width: 89%' }

          %span
        %ul.dropdown-menu.agents{ :style => 'display: none;'}
          %li
            %a{ :href => '#' }
              Jonathan Kennedy
          %li
            %a{ :href => '#' }
              Harvey Enrile
          %li
            %a{ :href => '#' }
              Reina Figuracion
    
                
    /* .scrollable
    %div
      %div{ :style => 'width: 70%; float: left' } 
        .pB_1a

          #graph
              
          %pre#code.prettyprint.linenums
            :preserve    
              var day_data = [
                {"period": "2012-10-01", "views": 1407, "active": 660, "missed": 2, "proactive": 52},
                {"period": "2012-09-30", "views": 1551, "active": 629, "missed": 51, "proactive": 32},
                {"period": "2012-09-29", "views": 1894, "active": 849, "missed": 34, "proactive": 52},
                {"period": "2012-09-28", "views": 1294, "active": 690, "missed": 10, "proactive": 12},
                {"period": "2012-09-27", "views": 1464, "active": 600, "missed": 4, "proactive": 20},
                {"period": "2012-09-26", "views": 1544, "active": 100, "missed": 10, "proactive": 34},
                {"period": "2012-09-25", "views": 1574, "active": 530, "missed": 56, "proactive": 52},
                {"period": "2012-09-24", "views": 1294, "active": 702, "missed": 23, "proactive": 23},
                {"period": "2012-09-23", "views": 1694, "active": 690, "missed": 5, "proactive": 9},
                {"period": "2012-09-22", "views": 1394, "active": 618, "missed": 1, "proactive": 43},
                {"period": "2012-09-21", "views": 1294, "active": 700, "missed": 9, "proactive": 89},
                {"period": "2012-09-20", "views": 2103, "active": 560, "missed": 22, "proactive": 53},
                {"period": "2012-09-19", "views": 1502, "active": 634, "missed": 19, "proactive": 42},
                {"period": "2012-09-18", "views": 2015, "active": 590, "missed": 12, "proactive": 85},
                {"period": "2012-09-17", "views": 1724, "active": 660, "missed": 9, "proactive": 37},
                {"period": "2012-09-16", "views": 1403, "active": 753, "missed": 30, "proactive": 28},
                {"period": "2012-09-15", "views": 1615, "active": 300, "missed": 20, "proactive": 47},
                {"period": "2012-09-14", "views": 1609, "active": 589, "missed": 12, "proactive": 26},
                {"period": "2012-09-13", "views": 2099, "active": 600, "missed": 0, "proactive": 47},
                {"period": "2012-09-12", "views": 1463, "active": 712, "missed": 5, "proactive": 27},
                {"period": "2012-09-11", "views": 1560, "active": 656, "missed": 10, "proactive": 5},
                {"period": "2012-09-10", "views": 100, "active": 70, "missed": 30, "proactive": 0 }
              ];
              Morris.Line({
                element: 'graph',
                data: day_data,
                lineWidth: 3,
                lineColors: ['#3cb2e9', '#eeb445', '#e56666', '#8acb70'],
                xkey: 'period',
                ykeys: ['views', 'active','missed','proactive'],
                labels: ['Page Views', 'Active Chats','Missed Chats','Proactive Chats'],
              });

          .pB_1a 
            .reports-container
              %ul.reports-list.group
                %li
                  %h3                  
                    Opportunities
                    %span.report-label.page-views
                  .report-metric-value
                    1,345
                %li
                  %h3                  
                    Incoming
                    %span.report-label.active-chats
                  .report-metric-value
                    139 
                %li
                  %h3                  
                    Missed Chats
                    %span.report-label.missed-chats
                  .report-metric-value
                    43
                %li
                  %h3                  
                    Proactive Chats
                    %span.report-label.proactive-chats
                  .report-metric-value
                    32

              %ul.time-report-list
                %li
                  %h3
                    Average time to respond
                  .report-metric-value
                    8 secs

                %li
                  %h3
                    Average handling time
                  .report-metric-value
                    3 mins, 44 sec
                


      .page-sidebar
        .widget-container
          %h3
            Chat widget score

          %input{ :class => 'dial',   :value => "3.2" }

          %div{ :style => 'position: relative' }
            %small.help-label
              .tooltip.score-label
                Your Chat Effectiveness Score is an assessment of your chat strategy. It measures the rate of visitor usage combined with the agent responsiveness to give you a perspective on your overall live chat effectiveness. It assumes that a successful Chat Thru Rate, which is the percentage of visitors that will become actively engaged in a chat is at least 10%. Score is deducted if your CTR is below 10% and as per your rate of Missed Chats. 
                .caret-tour.bottom


              %a What is this?


     

