.page-header.group
  .header-search.right
    %span.search-input.group
      %input{ :type => 'text', :placeholder => 'Search a conversation' }
      %button{ :type => 'submit' }
  %h3 Canned Responses

.table-wrapper
  .table-row.table-head.group
    .td-container.status-cell
      .td-content
        &nbsp;
    .td-container.visitor-cell
      .td-content
        Visitor
    .td-container.time-cell
      .td-content
        Time spent
    .td-container.message-cell
      .td-content
        Message
    .td-container.location-cell
      .td-content
        Location
    .td-container.system-info-cell
      .td-content
        Browser / System

  .table-row.table-body.group.trow-unread
    .td-container.status-cell
      .td-content
        %span.status.online
    .td-container.visitor-cell
      .td-content
        visitor-4fdf321
    .td-container.time-cell
      .td-content
        6 mins
    .td-container.message-cell
      .td-content
        %span.msg-count-tag 3
        Lorem ipsum dolor sitt, consetur adiping elitLorem ipsum dolor sitt, consetur adiping elit
    .td-container.location-cell
      .td-content
        %i.icon.map-pin
        The United Kingdom Of Great Britain And Northern Ireland
    .td-container.system-info-cell
      .td-content
        .xT{ :title => 'Mozilla Firefox 4.0' }
          %i.icon.browser-mozilla
        .xT{ :title => 'Windows 7' }
          %i.icon.system-windows

  .table-row.table-body.group
    .td-container.status-cell
      .td-content
        %span.status.online
    .td-container.visitor-cell
      .td-content
        visitor-4fdf321
    .td-container.time-cell
      .td-content
        3 mins
    .td-container.message-cell
      .td-content
        %span.msg-count-tag 3
        Lorem ipsum dolor sitt, consetur adiping elit
    .td-container.location-cell
      .td-content
        %i.icon.map-pin
        Nueva Ecija, Philippines
    .td-container.system-info-cell
      .td-content
        .xT{ :title => 'Mozilla Firefox 4.0' }
          %i.icon.browser-mozilla
        .xT{ :title => 'Windows 7' }
          %i.icon.system-windows

  .table-row.table-body.group
    .td-container.status-cell
      .td-content
        %span.status.online
    .td-container.visitor-cell
      .td-content
        visitor-4fdf321
    .td-container.time-cell
      .td-content
        42 mins
    .td-container.message-cell
      .td-content
        &nbsp;
    .td-container.location-cell
      .td-content
        %i.icon.map-pin
        Nueva Ecija, Philippines
    .td-container.system-info-cell
      .td-content
        .xT{ :title => 'Mozilla Firefox 4.0' }
          %i.icon.browser-mozilla
        .xT{ :title => 'Windows 7' }
          %i.icon.system-windows

  .table-row.table-body.group
    .td-container.status-cell
      .td-content
        %span.status.online
    .td-container.visitor-cell
      .td-content
        visitor-4fdf321
    .td-container.time-cell
      .td-content
        1 hr 32 mins
    .td-container.message-cell
      .td-content
        &nbsp;
    .td-container.location-cell
      .td-content
        %i.icon.map-pin
        United Kingdom
    .td-container.system-info-cell
      .td-content
        .xT{ :title => 'Google Chrome' }
          %i.icon.browser-chrome
        .xT{ :title => 'Apple' }
          %i.icon.system-mac
    

  / %table.table.table-hover.chat-list.active-visitors-list
  /   %thead.small
  /     %tr
  /       %th._uY
  /         &nbsp;
  /       %th
  /         Visitor
  /       %th
  /         Message
  /       %th
  /         Location
  /       %th
  /         browser/system
  /       %th
  /         Time spent
  /   %tbody
  /     %tr
  /       %td._uY
  /         %span.status.online
  /       %td
  /         .xT
  /           visitor-4fdf321
  /       %td
  /         .xT
  /           %span.msg-count-tag 3
  /           Lorem ipsum dolor sitt, consetur adiping elit...
  /       %td
  /         .xT
  /           %i.icon.map-pin
  /           Nueva Ecija, Philippines
  /       %td
  /         .xT
  /           %i.icon.browser-mozilla
  /         .xT
  /           %i.icon.system-windows
  /       %td
  /         6 mins
  /     %tr
  /       %td._uY
  /         %span.status.online
  /       %td
  /         visitor-4fdf321
  /       %td
  /         %span.msg-count-tag 1
  /         How are you?
  /       %td
  /         %i.icon.map-pin
  /         Ching wei, People's Republic of China
  /       %td
  /         .xT
  /           %i.icon.browser-mozilla
  /         .xT
  /           %i.icon.system-windows
  /       %td
  /         6 mins
  / %table.table.table-hover.chat-list.visitors-list
  /   %thead.small
  /     %tr
  /       %th._uY
  /         &nbsp;
  /       %th
  /         Visitor
  /       %th
  /         Message
  /       %th
  /         Location
  /       %th
  /         browser/system
  /       %th
  /         Time spent
  /   %tbody
  /     %tr
  /       %td._uY
  /         %span.status.online
  /       %td
  /         .xT
  /           visitor-4fdf321
  /       %td
  /         .xT
  /           %span.msg-count-tag 3
  /           Lorem ipsum dolor sitt, consetur adiping elit...
  /       %td
  /         .xT
  /           %i.icon.map-pin
  /           Nueva Ecija, Philippines
  /       %td
  /         .xT
  /           %i.icon.browser-mozilla
  /         .xT
  /           %i.icon.system-windows
  /       %td
  /         6 mins
  /     %tr
  /       %td._uY
  /         %span.status.online
  /       %td
  /         visitor-4fdf321
  /       %td
  /         %span.msg-count-tag 1
  /         How are you?
  /       %td
  /         %i.icon.map-pin
  /         Ching wei, People's Republic of China
  /       %td
  /         .xT
  /           %i.icon.browser-mozilla
  /         .xT
  /           %i.icon.system-windows
  /       %td
  /         6 mins

    

    


          

