.page-header.group
  %h3 Chat Settings
  .module-header._c8
    .ui-button-group
      %button.btn.active Notifications
      %button.btn Triggers
      %button.btn Responses
      %button.btn Timeout
      %button.btn Chat limits

.page-body._tL
  Enabling notifications will let Groove notify you, either via pop-up, sound, or both, when a new chat
  message comes in. This means that you’ll never miss a chat, even if your Groove tab is inactive. 

  .block.tr.group
    .label 
      Play sound for messages
    .ui-button-group.right
      %button.btn.active Enabled
      %button.btn Disabled