.page-header.group
  %ul.visitor-info-list
    %li._c3
      %button.btn.rounded._nY5
        %span.back    
    %li._c3
      %h3{:style => 'line-height:26px'} 
        Add User
          
.scrollable
  .page-body
   
    %div
      .group._f0
        %h3 User Profile
        
        .block.tr.group.settings-section
          .label.vT
            First Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            .message-text.error
              This field is required
        .block.tr.group.settings-section
          .label.vT
            Last Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            .message-text.error
              This field is required
        
        .block.tr.group.settings-section
          .label.vT
            Email Address
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            %p
              Login information and password willt be sent to this address.
            .message-text.error
              Please enter a valid email
        .block.tr.group.settings-section
          .label
            Role
          .input-container
            .ui-button-group
              %button.btn.active Agent
              %button.btn Administrator
                
        .block.tr.settings-section
          %h3.group
            Website Access
            .small{ :style => 'margin-left: 20px; display: inline-block' }
              %a#selectAllAgents
                Select all
              %strong
                &middot;
              %a#clearAllAgents
                Clear all
        

          %p Grant your users access to specific or all of your websites

          %div


            .btn-selector.green
              %button.btn.active
                BuzzedNow
              %button.btn
                BuyRealMarketing
              %button.btn
                Quick SEO Results
              %button.btn
                Cebu Pacific
              %button.btn
                Agoda
              %button.btn
                Facebook
            
            %p.small{ :style => 'color: #999' } A user must be at assigned to at least one (1) website
        


        .block.group.settings-section
          %p
            This user has not verified his/her account
            %button.btn.small
              Resend Activation Link
          %input.btn.small.action{ :type => 'submit', :value => 'Create User'}
          .message-text.success._iL
            Your changes have been saved
        
        


      .page-sidebar       
        .block
          .agent-plan-status
            3 of 3 agent seats used
          %h3
            Need Help? 
          %p
            Congue eleifend praesent exercitationem sociosqu metus. Cumque omnis senectus, iaculis habitasse delectus sem praesentium laboris.
          
        


              
        




