.page-header.group
  .header-search.right
    %span.search-input.group
      %input{ :type => 'text', :placeholder => 'Search user' }
      %button{ :type => 'submit' }
  %h3 Users


.page-body
  %p
    Chat Triggers help you send chat invites / custom messages to pre-qualified leads
    %button.btn.small.action
      + Add Users
%div
  .table-wrapper
    .table-row-wrapper.table-row-selectable

      / No chat triggers are added yet
      .table-row.table-head.group
        .td-container.status-cell
          .td-content
            %input{ :type => 'checkbox' }
        .td-container.status-cell
          .td-content
            &nbsp;
        .td-container.visitor-cell
          .td-content
            Display Name
        .td-container.action-cell
          .td-content
            First Name
        .td-container.action-cell
          .td-content
            Last Name
        .td-container.large-cell
          .td-content
            Email
        .td-container.action-cell
          .td-content
            Role
              
      %div.scrollable
        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                &nbsp;
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Rein
          .td-container.action-cell
            .td-content
              %span
                Reina
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Account Owner

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.away
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.offline
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.away
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.offline
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator
        

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.away
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.offline
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Administrator

        .table-row.table-body.group
          .td-container.status-cell
            .td-content
              %span
                %input{ :type => 'checkbox' }
          .td-container.status-cell
            .td-content
              %span.status.online
          .td-container.visitor-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Ellaine
          .td-container.action-cell
            .td-content
              %span
                Figuracion
          .td-container.large-cell
            .td-content
              %span
                reinafiguracion@gmail.com
          .td-container.action-cell
            .td-content
              %span
                Operator

      .table-footer
        %button.btn.small
          Delete selected
        
            

  
