.page-header.group
  %ul.visitor-info-list
    %li._c3
      %button.btn.rounded._nY5
        %span.back    
    %li._c3
      %h3{:style => 'line-height:26px'} 
        Add User
          
.scrollable
  .page-body
   
    %div
      .group._f0
        %h3 User Profile
        
        .block.tr.group.settings-section
          .label
            First Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Last Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Display Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
        .block.tr.group.settings-section
          .label
            Email Addres
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            %br
            Login information and password willt be sent to this address.
        
        .block
          %h3 Site Access
          %div.block
            .table-wrapper
              .table-row-wrapper.table-row-selectable
                .table-row.table-head.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      Website Name
                  .td-container.action-cell
                    .td-content
                      Role
                
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator

                .table-footer.bordered
                  %button.btn.small.action
                    Save Changes
                  %button.btn.small
                    Cancel

                   


      .page-sidebar       
        .block
          %h3
            Need Help? 
          %p
            Congue eleifend praesent exercitationem sociosqu metus. Cumque omnis senectus, iaculis habitasse delectus sem praesentium laboris.
          
        


              
        







      
    