.page-header.group
  %ul.visitor-info-list
    %li._c3
      %button.btn.rounded._nY5
        %span.back    
    %li._c3
      %h3{:style => 'line-height:26px'} 
        Add User
          
.scrollable
  .page-body
   
    %div
      .group._f0
        %h3 User Profile
        
        .block.tr.group.settings-section
          .label.vT
            First Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            .message-text.error
              This field is required
        .block.tr.group.settings-section
          .label.vT
            Last Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            .message-text.error
              This field is required
        .block.tr.group.settings-section
          .label.vT
            Display Name
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            .message-text.error
              This field is required
        .block.tr.group.settings-section
          .label.vT
            Email Address
          .input-container
            %input{ :type => 'text', :style => 'width: 250px' }
            %p
              Login information and password willt be sent to this address.
            .message-text.error
              Please enter a valid email
        .block.group.settings-section
          .label
            &nbsp;
          .input-container
            %input.btn.small.action{ :type => 'submit', :value => 'Create User'}
        
        .block
          %h3 Site Access
          %div.block
            .table-wrapper
              .table-row-wrapper.table-row-selectable
                .table-row.table-head.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      Website Name
                  .td-container.action-cell
                    .td-content
                      Role
                
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator
                .table-row.table-body.group
                  .td-container.status-cell
                    .td-content
                      %input{ :type => 'checkbox' }
                  .td-container.large-cell
                    .td-content
                      BuyRealMarketing
                  .td-container.trigger-cell
                    .td-content
                      .ui-button-group
                        %button.btn.active Administrator
                        %button.btn Operator

                

                   


      .page-sidebar       
        .block
          %h3
            Need Help? 
          %p
            Congue eleifend praesent exercitationem sociosqu metus. Cumque omnis senectus, iaculis habitasse delectus sem praesentium laboris.
          
        


              
        







      
    