.page-header.group
  %h3 Widget Settings
  .module-header._c8
    .ui-button-group
      %button.btn Style and Color
      %button.btn.active Upload Banner
      %button.btn Post chat survey
      %button.btn Offline form
      %button.btn Pre chat form
      %button.btn Embed widget


.scrollable
  .page-body
    .group._f0
      Customize the color, style, labels and the widget position of the Offerchat live chat widget on your website.

      .block
        %h3 Upload your custom banner
        .block.tr.group
          .label 
            .ui-checkbox-container.active._tX{ :style => 'margin-right: 2px' }
              .ui-checked
                %input{ :type => 'checkbox' }
            Display Banner on chat widget
         
        .block.tr.group.settings-section
          .preview.loading
            %span.preview-label
              260px x 40px
          %form#bannerUploadForm
          %input#bannerUpload{ :type => 'file', :style => 'margin: 5px 0 10px -5px' }
          %p
            %button.btn.small.action{ :type => 'submit' }
              Save

        
        

        
                   


    .page-sidebar
      .widget-preview-wrapper.block
        .widget-option-box           
          .offerchat-widget-wrapper.offerchat-theme-sushi.offerchat-theme.oF._1F.offerchat-rounded-corner
            .offerchat-widget-head.offerchat-block
              .offerchat-minimize-control
              =image_tag "bubble-chat.png", :class => "offerchat-ico-chat-bubble" 
              Chat with me, I'm here to help
            .offerchat-inner-wrap
              .offerchat-agent-show.offerchat-block
                .offerchat-agent-thumbnail
                  =image_tag 'thumbnail40.png'
                .offerchat-agent-details
                  Hi! I'm
                  .offerchat-agent-name
                    Jonathan
                  .offerchat-agent-position
                    Sales representative
              .offerchat-chat-wrapper
                .offerchat-chat.offerchat-agent
                  .offerchat-user-timestamp
                    8:10 pm
                  .offerchat-user
                    Jonathan
                  .offerchat-user-message
                    How can I help you today?
              .offerchat-response-wrapper
                .offerchat-field-wrap
                  %textarea#ofc_chat_field.offerchat-input{ :placeholder => 'Type your message and hit enter' }
              .offerchat-footer
                %a{ :href => '#' }
                  =image_tag 'sampleBanner.png', :class => 'offerchat-companyBanner'
          

    





      
    