/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html::-webkit-scrollbar{
    width:7px;
    height:7px;
    background:none;

   
}

html::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#666;
}
html::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    background-color: rgba(0, 0, 0, .25);
    /*box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);*/
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}
html::-webkit-scrollbar-thumb:active{
    background-color:#888;
}

