.swatch-selector
  a
    display: inline-block
    width: 23px
    height: 23px
    background: #f1f1f1
    border: 2px solid transparent
    &.selected
      border-color: #000
  .intlorange
    background: #e74300
  .cadmiumorange
    background: #FF6103
  .rustorange
    background: #C84E3D
  .cadmiumreddeep
    background: #E3170D
  .mandy
    background: #E54A4F
  .velvetpink
    background: #f22a75
  .cobaltviolet
    background: #CA48D9
  .eggplant
    background: #613854
  .hibiscus
    background: #A52173
  .aqua
    background: #65C7EB
  .picassoblue
    background: #64A0EA
  .aquablue
    background: #2AB2EA
  .blueribbon
    background: #053EFF
  .endeavor
    background: #0060A3
  .astroblue
    background: #00405D
  .midblue
    background: #036
  .keylime
    background: #BDD631
  .sushi
    background: #97B538
  .greengrass
    background: #31B017
  .salemgreen
    background: #08935A
  .nandor
    background: #4E6252
  .darkslategrey
    background: #2F4F4F
  .gold
    background: #FFD700
  .aureolineyellow
    background: #ffa824
  .goldenbell
    background: #E47911
  .saddlebrown
    background: #8B4513
  .grey
    background: #858585
  .black
    background: #333



.offerchat-theme-velvetpink
  .offerchat-agent
    border-left: 2px solid #f22a75
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #f22a75
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #f22a75
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #f22a75
    color: #fff

.offerchat-theme-saddlebrown
  .offerchat-agent
    border-left: 2px solid #8b4513
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #8b4513
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #8b4513
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #8b4513
    color: #fff

.offerchat-theme-darkslategrey
  .offerchat-agent
    border-left: 2px solid #2F4F4F
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #2F4F4F
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #2F4F4F
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #2F4F4F
    color: #fff

.offerchat-theme-grey
  .offerchat-agent
    border-left: 2px solid #858585
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #858585
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #858585
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #858585
    color: #fff

.offerchat-theme-gold
  .offerchat-agent
    border-left: 2px solid #FFD700
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #FFD700
    color: #b39700
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #b39700
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #FFD700
    color: #b39700


.offerchat-theme-black
  .offerchat-agent
    border-left: 2px solid #000
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #000
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #000
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #000
    color: #fff

.offerchat-theme-keylime
  .offerchat-agent
    border-left: 2px solid #bdd631
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #bdd631
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #bdd631
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #bdd631
    color: #fff

.offerchat-theme-salemgreen
  .offerchat-agent
    border-left: 2px solid #08935a
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #08935a
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #08935a
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #08935a
    color: #fff


.offerchat-theme-hibiscus
  .offerchat-agent
    border-left: 2px solid #a52173
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #a52173
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #a52173
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #a52173
    color: #fff


.offerchat-theme-astroblue
  .offerchat-agent
    border-left: 2px solid #00405D
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #00405D
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #00405D
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #00405D
    color: #fff


.offerchat-theme-goldenbell
  .offerchat-agent
    border-left: 2px solid #E47911
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #E47911
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #E47911
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #E47911
    color: #fff


.offerchat-theme-endeavor
  .offerchat-agent
    border-left: 2px solid #0060A3
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #0060A3
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #0060A3
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #0060A3
    color: #fff


.offerchat-theme-midblue
  .offerchat-agent
    border-left: 2px solid #003366
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #003366
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #003366
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #003366
    color: #fff


.offerchat-theme-blueribbon
  .offerchat-agent
    border-left: 2px solid #053eff
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #053eff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #053eff
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #053eff
    color: #fff


.offerchat-theme-sushi
  .offerchat-agent
    border-left: 2px solid #97B538
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #97B538
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #97B538
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #97B538
    color: #fff


.offerchat-theme-sushi
  .offerchat-agent
    border-left: 2px solid #97B538
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #97B538
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #97B538
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #97B538
    color: #fff


.offerchat-theme-intlorange
  .offerchat-agent
    border-left: 2px solid #FC4F08
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #FC4F08
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #FC4F08
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #FC4F08
    color: #fff


.offerchat-theme-eggplant
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #613854
  .offerchat-agent
    border-left: 2px solid #613854
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #613854
    color: #fff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #613854


.offerchat-theme-mandy
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #E54A4F
  .offerchat-agent
    border-left: 2px solid #E54A4F
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #E54A4F
    color: #fff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #E54A4F


.offerchat-theme-nandor
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #4E6252
  .offerchat-agent
    border-left: 2px solid #4E6252
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #4E6252
    color: #fff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #4E6252

/*End Added theme

.offerchat-theme-aqua-blue
  .offerchat-agent
    border-left: 2px solid #2ab2ea
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #2ab2ea
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #2ab2ea
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #2ab2ea
    color: #fff


.offerchat-theme-aqua
  .offerchat-agent
    border-left: 2px solid #65c7eb
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #65c7eb
  .offerchat-agent .offerchat-user, .offerchat-agent-name, .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #65c7eb
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #65c7eb
    color: #fff

.offerchat-theme-picassoblue
  .offerchat-agent
    border-left: 2px solid #64a0ea
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #64a0ea
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #64a0ea
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #64a0ea
    color: #fff

.offerchat-theme-greengrass
  .offerchat-agent
    border-left: 2px solid #31b017
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #31b017
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #31b017
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #31b017
    color: #fff

.offerchat-theme-cadmiumorange
  .offerchat-agent
    border-left: 2px solid #ff6103
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #ff6103
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #ff6103
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #ff6103
    color: #fff

.offerchat-theme-aureolineyellow
  .offerchat-agent
    border-left: 2px solid #ffa824
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #ffa824
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #ffa824
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #ffa824
    color: #fff

.offerchat-theme-cobaltviolet
  .offerchat-agent
    border-left: 2px solid #ca48d9
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #ca48d9
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #ca48d9
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #CA48D9
    color: #fff

.offerchat-theme-cadmiumreddeep
  .offerchat-agent
    border-left: 2px solid #e3170d
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #e3170d
    color: #fff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #e3170d
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #e3170d
    color: #fff

.offerchat-theme-rustorange
  .offerchat-agent
    border-left: 2px solid #c84e3d
  .offerchat-widget-head, .offerchat-widget-head-main
    background: #c84e3d
    color: #fff
  .offerchat-agent .offerchat-user, .offerchat-agent-name
    color: #c84e3d
  .offerchat-widget-head, .offerchat-widget-head-main, input[type=submit].offerchat-submit-form
    background: #c84e3d
    color: #fff

.offerchat-theme-cadmiumreddeep .offerchat-agent-style-2 .offerchat-agent-name,  
.offerchat-theme-grey .offerchat-agent-style-2 .offerchat-agent-name,
.offerchat-theme-cobaltviolet .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-aureolineyellow .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-cadmiumorange .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-greengrass .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-picassoblue .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-aqua .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-aqua-blue .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-rustorange .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-saddlebrown .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-darkslategrey .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-black .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-keylime .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-salemgreen .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-hibiscus .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-astroblue .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-goldenbell .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-endeavour .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-midblue .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-blueribbon .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-sushi .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-intlorange .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-eggplant .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-mandy .offerchat-agent-style-2 .offerchat-agent-name, 
.offerchat-theme-nandor .offerchat-agent-style-2 .offerchat-agent-name
  color: #fff

.offerchat-theme-gold .offerchat-agent-style-2
  .offerchat-agent-name
    color: #b39700
  .offerchat-agent-position
    color: #b39700
    font-weight: normal